{% extends "layouts/main.html" %}

{% block pageTitle %}
  Page name – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <p class="govuk-body govuk-!-font-weight-bold claim-row">Sort options: <span class="govuk-body"><a href="claim-adjustment-via-timeline?sortBy=newest">Date (newest)</a><a href="claim-adjustment-via-timeline?sortBy=oldest">Date (oldest)</a></span>Group options: <span class="govuk-body"><a href="claim-adjustment-via-timeline?whatGroupBy=claimDate">Group by date</a><a href="claim-adjustment-via-timeline?whatGroupBy=claimType">Group by claim type</a></span></p>
    {% include "/_includes/claim-rows/timeline.njk"%} 
  </div>
</div>

{% endblock %}