{% extends "layouts/main.html" %}

{% block pageTitle %}
  Page name – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

<!-- tabs: my claims, all claims, search -->
{% set activeTab = [false, true, false] %}

<!-- call JSON file -->
{% set claimList = data.sampleDataCrime %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <div class="moj-action-bar">
        <div class="moj-action-bar__filter">
          <button onclick="toggleElement2('filters')" class="govuk-button govuk-button--secondary" data-module="govuk-button">
            Show/hide filters
          </button>
        </div>
        <div class="moj-button-menu">
          <div class="moj-button-menu__wrapper">
            <button onclick="toggleElement2('columns')" class="govuk-button govuk-button--secondary" data-module="govuk-button">
              Choose columns
          </button>
          </div>
        </div>
      </div>


      <div id="filters" class="moj-filter-layout">
        <div class="moj-filter__header">
          <div class="moj-filter__header-title">
            <h2 class="govuk-heading-m">Filter</h2>
          </div>
          <div class="moj-filter__header-action">
          </div>
        </div>  
        {% include "../_includes/core-journey/caselist-filters-top.njk"%}   
      </div>
      <!-- columns selector -->
      <div id="columns">
        {% include "v2/concept-playground/_includes/additional-concepts/caselist-choose-columns.njk"%} 
      </div>

    <!-- TABLE IS HERE -->
      {% include "../_includes/case-lists/crime/my-claims-table-crime-new.njk"%} 
  </div>
</div>

<script>
  function toggleElement2(elementId) {
    var element = document.getElementById(elementId);
    if (element.style.display === "block") {
      element.style.display = "none"; // Show the element
    } else {
      element.style.display = "block"; // Hide the element
    }
  }
  </script>

{% endblock %}