{% extends "layouts/main.html" %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">Components</h1>
    <h2 class="govuk-heading-m">Claim components</h2>
    <ul class="govuk-list">
      <li>
        <a class="govuk-link" href="/components/claim-components/basic-rows">Claim components</a>
      </li>
    </ul>
    <h2 class="govuk-heading-m">AI components</h2>
    <ul class="govuk-list">
      <li>
        <a class="govuk-link" href="/components/ai/ai-components">AI components</a>
      </li>
    </ul>
    
  </div>
</div>

{% endblock %}