
{% set sortBy = data['sortBy'] | default('oldest') %}
{% set whatGroupBy = data['whatGroupBy'] | default('claimDate') %}
{% set mySort = 'true' %}

{#Grouped by: {{ whatGroupBy }}
Sort by: {{ sortBy }}#}

<!-- SUMMARY CARD MAIN-->
<div id="otherclaims" class="govuk-summary-card govuk-!-margin-bottom-2">
  <div class="govuk-summary-card__title-wrapper">
    <h2 class="govuk-summary-card__title">
      Disbursements&nbsp;({{ item.associatedClaims.length }}&nbsp;items)
    </h2>
    <ul class="govuk-summary-card__actions">
      <li class="govuk-summary-card__action">
        <span class="govuk-body govuk-!-font-weight-bold claim-row">Sort by</span> {% if sortBy == 'oldest'%}<a class="govuk-link" href="claim-apply-adjustments?sortBy=newest#otherclaims">Date (newest)<span class="govuk-visually-hidden"> sort by newest date</span></a>{% else %}<a class="govuk-link" href="claim-apply-adjustments?sortBy=oldest#otherclaims">Date (oldest)<span class="govuk-visually-hidden"> sort by oldest date</span></a>{% endif %}
      </li>
    </ul>        
  </div>
  <!-- ACTUAL CLAIMS LIST CONTAINER -->
  <div class="govuk-summary-card__content">
    <dl class="govuk-summary-list">
      <button onclick="toggleAllElements()" class="govuk-button govuk-button--secondary">
        Show/Hide adjustment rows
      </button>
      <!-- EACH DATE GROUPING -->
      {% if sortBy == 'newest' %}
        {% for claimGroup, claimType in item.associatedClaims  | groupby(whatGroupBy) | dictsort | reverse %}
          <table class="govuk-table govuk-!-margin-bottom-9 claim-table">
            <caption class="govuk-table__caption govuk-table__caption--m">{{ claimGroup | govukDate }}</caption>
            <tbody class="govuk-table__body">
              {% for item in claimType %}
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">{{ item.claimType  }}</th>
                  <td class="govuk-table__cell">Cost: {{ item.itemNet | currency }}</td>
                  <td class="govuk-table__cell">VAT: {{ item.itemVat | currency  }}</td>
                  <td class="govuk-table__cell"><a href="/v2/claim-assessment/crime-lgfs/adjust-a-row-item?claimDate={{ claimGroup | govukDate }}&claimDesc={{ item.details }}&claimCost={{ item.itemNet | currency }}&claimVat={{ item.itemVat | currency }}">Not assessed</a></td>
                </tr>
                {% include "/v2/claim-assessment/_includes/expense-adjustment-row.njk" %}
              {% endfor %}
            </tbody>
          </table>
        {% endfor %}
      {% elseif sortBy == 'oldest' %}
        {% for claimGroup, claimType in item.associatedClaims  | groupby(whatGroupBy) | dictsort %}
        <table class="govuk-table govuk-!-margin-bottom-9 claim-table">
          <caption class="govuk-table__caption govuk-table__caption--m">{{ claimGroup | govukDate }}</caption>
          <tbody class="govuk-table__body">
            {% for item in claimType %}
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">{{ item.claimType  }}</th>
                <td class="govuk-table__cell">Cost: {{ item.itemNet | currency }}</td>
                <td class="govuk-table__cell">VAT: {{ item.itemVat | currency  }}</td>
                <td class="govuk-table__cell"><a href="/v2/claim-assessment/crime-lgfs/adjust-a-row-item?claimDate={{ claimGroup | govukDate }}&claimDesc={{ item.details }}&claimCost={{ item.itemNet | currency }}&claimVat={{ item.itemVat | currency }}">Not assessed</a></td>
              </tr>
              {% include "/v2/claim-assessment/_includes/expense-adjustment-row.njk" %}
            {% endfor %}
          </tbody>          
        </table>
      {% endfor %}
      {% endif %}

    </dl>
  </div>
</div>



