.moj-action-bar {
    font-size: 0; // Removes white space
  }
  
  .moj-action-bar__filter {
    display: inline-block;
    position: relative;
  

  
      &:after {
        content: "";
        background-color: govuk-colour("light-grey");
        height: 40px;
        position: absolute;
        right: 0;
        top: 0;
        width: 2px;
      }
    }