// CSS for LAA BILLING specific components
// These in addition to styles from the GOV and MOJ Design Systems
// Do not use this code in a production environment

/*
-------------------------------
COLOURS START
some maybe dupes of gov colours
-------------------------------
*/

$colour-search-box-blue: #e0eef8;
$colour-dashboard-box-grey: #B1B4B6;
$colour-dashboard-box-shade-grey: #6F777B;
$colour-section-background-blue: #f0f4f5;

/*
--------------------------------------------------------------------
TOP FILTERS
If we use filters at the top of page vs. MOJ Filter a list component
--------------------------------------------------------------------
*/

.inline-inputs {
    display: flex;
    gap: 20px;

    &__fields {
      gap: 20px;
    }
}

.form-cancel {
  line-height:2.1;
  margin-left:.625em;
  font-size:19px
}

#filters {
  display: none; /* Hide the element initially */
}

#columns {
  display: none; /* Hide the element initially */
}

.saved-searches {
  padding-right: 30px;

    &__button {
      margin-left: 10px;
    }
}

/* TOP FILTERS ENDS */


/*
--------------------------------------------------------------------
MOJ ACTION BAR (USED ON SIDE AND TOP FILTERS
--------------------------------------------------------------------
*/  

.moj-action-bar {
    font-size: 0; // Removes white space
  }
  
  .moj-action-bar__filter {
    display: inline-block;
    position: relative;
  
      &:after {
        content: "";
        background-color: govuk-colour("light-grey");
        height: 40px;
        position: absolute;
        right: 0;
        top: 0;
        width: 2px;
      }
    } 
  

/* MOJ ACTION BAR ENDS */    

/*
--------------------------------------------------------------------
SEARCH PAGE
--------------------------------------------------------------------
*/    

.search {

  background-color: $colour-search-box-blue;
  padding: 30px;

}

/* SEARCH PAGE ENDS */

/*
--------------------------------------------------------------------
CASE LIST DASHBOARD CONCEPT
--------------------------------------------------------------------
*/   

.quick-dashboard-card {
  padding: 10px;
  margin-bottom: 20px;
  margin-right: 20px;
  flex: 1;
  border: 1px solid $colour-dashboard-box-grey;
  border-bottom: 3px solid $colour-dashboard-box-shade-grey;
	text-align: center;

  &__link {
    font-size: 4.333em;
    margin-bottom: 0px;
  }

  &__container {
    display: flex;
    width: 100;
  }

  @media (max-width: 40.0525em) {

    &__container {
      display: grid;
      width: 100;
    }
  }
}

/* CASE LIST DASHBOARD ENDS */

/*
-------------------------------------------------------
PROTOTYPE ENVIRONMENT STYLING
Some basic styling to be used around the prototype only
-------------------------------------------------------
*/

.heading-w-status {
  padding-left: 15px;
}

code {
  color: crimson;
  background-color: #f1f1f1;
  padding: 2px;
  font-size: 70%;
}

/* PROTOTYPE ENVIRONMENT STYLING */