// CSS for LAA BILLING specific components
// These in addition to styles from the GOV and MOJ Design Systems
// Do not use this code in a production environment

/*
-------------------------------
COLOURS START
some maybe dupes of gov colours
-------------------------------
*/

$colour-search-box-blue: #e0eef8;
$colour-dashboard-box-grey: #B1B4B6;
$colour-dashboard-box-shade-grey: #6F777B;
$colour-section-background-blue: #f0f4f5;
$colour-ai-panel-background: #CCE2D8;
$colour-ai-panel-border: #005A30;

/*
---------------------------------------------------
PROTOYPE WIDE STYLING
Apply styles to elements that appear prototype wide
---------------------------------------------------
*/

/* Make checkboxes inline */

.moj-inline-checkbox {
  display: flex;
  align-items: flex-start;
  row-gap: 0px;
  margin-bottom: 0px;
  padding-bottom: 0px;
}

/* PROTOYPE WIDE STYLING ENDS */


/*
--------------------------------------------------------------------
TOP FILTERS
If we use filters at the top of page vs. MOJ Filter a list component
--------------------------------------------------------------------
*/

.inline-inputs {
    display: flex;
    gap: 20px;

    &__fields {
      gap: 20px;
    }
}

.form-cancel {
  line-height:2.1;
  margin-left:10px;
  font-size:19px
}

#filters {
  display: none; /* Hide the element initially */
}

#columns {
  display: none; /* Hide the element initially */
}

.saved-searches {
  padding-right: 30px;

    &__button {
      margin-left: 10px;
    }
}

/* TOP FILTERS ENDS */


/*
--------------------------------------------------------------------
MOJ ACTION BAR (USED ON SIDE AND TOP FILTERS
--------------------------------------------------------------------
*/  

.moj-action-bar {
    font-size: 0; // Removes white space
  }
  
  .moj-action-bar__filter {
    display: inline-block;
    position: relative;
  
      &:after {
        content: "";
        background-color: govuk-colour("light-grey");
        height: 40px;
        position: absolute;
        right: 0;
        top: 0;
        width: 2px;
      }
    } 
  

/* MOJ ACTION BAR ENDS */    

/*
--------------------------------------------------------------------
SEARCH PAGE
--------------------------------------------------------------------
*/    

.search {

  background-color: $colour-search-box-blue;
  padding: 30px;

}

/* SEARCH PAGE ENDS */

/*
--------------------------------------------------------------------
CASE LIST DASHBOARD CONCEPT
--------------------------------------------------------------------
*/   

.quick-dashboard-card {
  padding: 10px;
  margin-bottom: 20px;
  margin-right: 20px;
  flex: 1;
  border: 1px solid $colour-dashboard-box-grey;
  border-bottom: 3px solid $colour-dashboard-box-shade-grey;
	text-align: center;

  &__link {
    font-size: 4.333em;
    margin-bottom: 0px;
  }

  &__container {
    display: flex;
    width: 100;
  }

  @media (max-width: 40.0525em) {

    &__container {
      display: grid;
      width: 100;
    }
  }
}

/* CASE LIST DASHBOARD ENDS */

/*
-------------------------------------------------------
PROTOTYPE ENVIRONMENT STYLING
Some basic styling to be used around the prototype only
-------------------------------------------------------
*/

.heading-w-status {
  padding-left: 15px;
}

code {
  color: crimson;
  background-color: #f1f1f1;
  padding: 2px;
  font-size: 70%;
}

/* PROTOTYPE ENVIRONMENT STYLING ENDS */

/*
--------------------------------------------------------
CLAIM ASSESSMENT
Styling for all the claim assessment/adjustment elements
--------------------------------------------------------
*/

/* For claim row component concepts */

.claim-row {

  a { /* Need to add smaller viewport styling */
    padding-right: 20px;
  }

  &__type {
    width: 60%;
  }

  &__claimed {
    width: 10%;
  }

  &__actions {
    width: 30%;
  }

  // Hacky way to remove border from table in details component
  &__no-border {
    border: none !important;
    padding: 0px;
    margin: 0px;
  }

}

/* For claim row timeline concept */

.timeline-row {
  display: flex;
  align-items: center;
}

/* Override the gov table alignment styles (which are top) to have claim row in middle */
.caseline-table__header,
.caseline-table__cell {
  padding: 10px 10px 10px 0;
  border-bottom: 1px solid $colour-dashboard-box-grey;
  text-align: left;
  vertical-align: top;
}

/* For claim row AI ticket panel concept */

.ai-ticket-panel {
  background-color: $colour-ai-panel-background;
  border-left: 5px solid $colour-ai-panel-border;
  padding: 20px 20px 20px 20px;
}


/* CLAIM ASSESSMENT STYLING ENDS */