// CSS for LAA BILLING specific components
// These in addition to styles from the GOV and MOJ Design Systems
// Do not use this code in a production environment

/*
-------------------------------
COLOURS START
some maybe dupes of gov colours
-------------------------------
*/

$colour-search-box-blue: #e0eef8;

/*
--------------------------------------------------------------------
TOP FILTERS
If we use filters at the top of page vs. MOJ Filter a list component
--------------------------------------------------------------------
*/

.inline-inputs {
    display: flex;
    gap: 20px;

    &__fields {
      gap: 20px;
    }
}

.form-cancel {
  line-height:2.1;
  margin-left:.625em;
  font-size:19px
}

#filters {
  display: none; /* Hide the element initially */
}

#columns {
  display: none; /* Hide the element initially */
}

.saved-searches {
  padding-right: 30px;

    &__button {
      margin-left: 10px;
    }
}

/* TOP FILTERS ENDS */


.moj-action-bar {
    font-size: 0; // Removes white space
  }
  
  .moj-action-bar__filter {
    display: inline-block;
    position: relative;
  
      &:after {
        content: "";
        background-color: govuk-colour("light-grey");
        height: 40px;
        position: absolute;
        right: 0;
        top: 0;
        width: 2px;
      }
    } 
  

/*
--------------------------------------------------------------------
SEARCH PAGE
--------------------------------------------------------------------
*/    

.search {

  background-color: $colour-search-box-blue;
  padding: 30px;

}
