<!-- CLAIM DETAILS CARD -->
<div class="govuk-summary-card">
    <div class="govuk-summary-card__title-wrapper">
        <h2 class="govuk-summary-card__title">
            Evidence
        </h2>
        
    </div>
    <div class="govuk-summary-card__content">
        <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                Evidence submitted
                </dt>
                <dd class="govuk-summary-list__value">
                {{ item.evidenceSubmitted }}
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                Evidence links
                </dt>
                <dd class="govuk-summary-list__value">
                    <a class="govuk-link" href="{{ item.evidenceLink }}">{{ item.evidenceLink }}</a><br>
                    <a class="govuk-link" href="{{ item.evidenceLink }}">{{ item.evidenceLink }}</a><br>
                    <a class="govuk-link" href="{{ item.evidenceLink }}">{{ item.evidenceLink }}</a><br>
                    <a class="govuk-link" href="{{ item.evidenceLink }}">{{ item.evidenceLink }}</a><br>
                    <a class="govuk-link" href="{{ item.evidenceLink }}">{{ item.evidenceLink }}</a><br>
                </dd>
            </div> 
        </dl>
    </div>
</div> 