{% extends "layouts/main.html" %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-l">Templates</h2>
    <ul class="govuk-list">
      <li>
        <a class="govuk-link" href="/templates/claim-summary-template">Case summary with full-width shaded masthead</a>
      </li>
    </ul>
  </div>
</div>

{% endblock %}
