<!-- Check status and display colour coded tag based on status -->
{% if item.claimStatus == 'Granted' or item.relatedClaimStatus == 'Granted' %}
    <strong class="govuk-tag govuk-tag--green">
        Granted
    </strong>
{% elseif item.claimStatus == 'Part granted' or item.relatedClaimStatus == 'Part granted'%}
    <strong class="govuk-tag govuk-tag--blue">
        Part granted
    </strong>
{% elseif item.claimStatus == 'Rejected' or item.relatedClaimStatus == 'Rejected'%}
    <strong class="govuk-tag govuk-tag--red">
        Rejected
    </strong>
{% elseif item.claimStatus == 'In progress' or item.relatedClaimStatus == 'In progress'%}
    <strong class="govuk-tag govuk-tag--light-blue">
        In progress
    </strong>
{% elseif item.claimStatus == 'Not assigned' or item.relatedClaimStatus == 'Not assigned'%}
    <strong class="govuk-tag govuk-tag--grey">
        Not assigned
    </strong>
{% elseif item.claimStatus == 'Further information requested' or item.relatedClaimStatus == 'Further information requested'%}
    <strong class="govuk-tag govuk-tag--yellow">
            Further information requested
    </strong>
{% elseif item.claimStatus == 'Not started' or item.relatedClaimStatus == 'Not started'%}
    <strong class="govuk-tag govuk-tag--grey">
            Not started
    </strong>
{% endif %}
