{% extends "layouts/main.html" %}

{% block pageTitle %}
  Page name – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <!-- SET CLAIM REF FOR TESTING -->
    {# {% set claimRef = data['claim-ref'] | default(data.defaultCrimeCaseNo) %}#}
    {% set claimRef = data.defaultCivilCaseNo %}
    Claim ref: {{ claimRef }}
    {% set claimRecord = data.sampleClaimsCivil %}  
    <!-- FIND RECORD AND WRITE CARDS FOR CRIME USER -->
    {% set foundClaim = false %}

    {% for item in claimRecord %}
        {% if item.claimRef == claimRef %}
          {% set foundClaim = true %}
          <!-- CLAIM SUMMARY -->
          {% include "../../_includes/claim-assessment-cards/civil/claim-costs-summary.njk" %}
          <!-- CLAIM GRADUATED FEES -->
          {% include "../../_includes/claim-assessment-cards/civil/graduated-fees.njk" %}
          {% include "../../_includes/claim-assessment-cards/civil/fixed-fees.njk" %}
          <div class="claims-list-filters-container">
            <div>
            <!-- MANIPULATING RESULTS SECTION -->

            <form action="/v2civilgroupby" method="post">
            {#}  
              {{ govukCheckboxes({
                name: "types-of-claims-filter",
                classes: "govuk-checkboxes--small moj-inline-checkbox",
                fieldset: {
                  legend: {                  
                    isPageHeading: false,
                    classes: "govuk-fieldset__legend--s govuk-!-margin"
                  }
              
                },
                items: [
                  {
                    value: "Approved",
                    text: "approved"
                  },
                  {
                    value: "part-approved",
                    text: "Part approved"
                  },
                  {
                    value: "rejected",
                    text: "Rejected"
                  },
                  {
                    value: "not assessed",
                    text: "Not assessed"
                  }
                ]
              }) }}
              #}
            </div>
            <div>
            {{ govukSelect({
              id: "whatGroupBy",
              name: "whatGroupBy",            
              label: {
                text: "Group by"
              },
              items: [
                {
                  value: "claimDate",
                  text: "Date",
                  selected: checked("whatGroupBy", "claimDate")
                },
                {
                  value: "claimType",
                  text: "Type",
                  selected: checked("whatGroupBy", "claimType")
                }
              ],
              formGroup: {
                classes: "govuk-!-margin-bottom-0"
              }
            }) }}
            </div>
            <div>
              
              {{ govukButton({
                text: "Apply",
                classes: "govuk-!-margin-bottom-0"
              }) }}
              </form>
            </div>

          </div>
          <!-- CLAIM ROWS ALL OTHER -->
          {% if data['whatGroupBy'] == 'claimDate' %}
            {% include "../../_includes/claim-rows/v2-grouped-by-date.njk" %}
          {% else %}
            {% include "../../_includes/claim-rows/v2-grouped-by-type.njk" %}
          {% endif%}
        {% endif %}
    {% endfor %}
  </div>
</div>

{% endblock %}