{% extends "layouts/main.html" %}

{% block pageTitle %}
Expenses (travel and subsistence) assessment – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

<!-- tabs: claim details, supporting evidence, adjustment history, notes and messages -->
{% set activeSubNav = [true, false, false, false] %}
{% set sortBy = data['sortBy'] | default('oldest') %}
{% set whatGroupBy = data['whatGroupBy'] | default('claimDate') %}
{% set mySort = 'true' %}
{% set sendingPage = 'expenses' %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <!-- SET CLAIM REF FOR TESTING -->
        {# {% set claimRef = data['claim-ref'] | default(data.defaultCrimeCaseNo) %}#}
        {% set claimRef = '1000004CR' %}
        {% set claimRecord = data.sampleClaimsCrime %}  
        <!-- Set the claimtype to return on this page -->
        {% set claimCategory = 'Expenses (travel and subsistence)'%}

        <span class="govuk-caption-l">Claim reference {{ claimRef }}</span>
        <h1 class="govuk-heading-l">Expenses (travel and subsistence)</h1>
        <!-- FIND RECORD AND RETURN ROW FOR EXPENSES SPECIFICALLY -->
        {% set foundClaim = false %}
        <p class="govuk-body govuk-!-font-size-24">£465.60</p>
        {% for item in claimRecord %}
            {% if item.claimRef == claimRef %}
              {% set foundClaim = true %}
              {% set foundType = false %}
              {% for item in item.claimsTotalRows %}
                {% if item.claimType == claimCategory %}
                  {% set foundType = true %}
                  {% set expensesSummaryHtml %}
                  <table class="govuk-table claim-table" style="width:80%">
                    <thead class="govuk-table__head">
                      <tr class="govuk-table__row">
                        <th scope="col" class="govuk-table__header">Description</th>
                        <th scope="col" class="govuk-table__header govuk-table__header--numeric">Cost</th>
                        <th scope="col" class="govuk-table__header govuk-table__header--numeric">Total</th>
                      </tr>
                    </thead>
                      <tbody class="govuk-table__body">
                        <tr class="govuk-table__row">
                          <th scope="row" class="govuk-table__header">Provider requested</th>
                          <td class="govuk-table__cell govuk-table__cell--numeric">{{ item.claimTypeNet | currency }}</td>
                          <td class="govuk-table__cell govuk-table__cell--numeric">{{ item.claimTypeTotal | currency }}</td>
                        </tr>
                        <tr class="govuk-table__row">
                          <th scope="row" class="govuk-table__header">Caseworker allowed</th>
                          <td class="govuk-table__cell govuk-table__cell--numeric">£388.00</td>
                          <td class="govuk-table__cell govuk-table__cell--numeric">£465.60</td>
                        </tr>
                      </tbody>
                  </table>
                  {% endset %}

                  {{ govukDetails({
                    summaryText: "Cost summary",
                    open: true,
                    html: expensesSummaryHtml
                  }) }}
                {% endif %}
              {% endfor %}
      </div>
    </div>
    {% include "v2/_includes/core-journey/v2-claim-adjustment-sub-navigation" %}

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <!-- EXPENSE CLAIMS LIST HERE -->
        <!-- SUMMARY CARD MAIN-->
        <button onclick="toggleAllElements()" class="govuk-button govuk-button--secondary" data-module="govuk-button">
          Show/Hide adjustment rows
        </button>
        <div id="otherclaims" class="govuk-summary-card govuk-!-margin-bottom-2">
          <div class="govuk-summary-card__title-wrapper">
            <h2 class="govuk-summary-card__title">
              Claim items (6 items)
            </h2>
            <ul class="govuk-summary-card__actions">
              <li class="govuk-summary-card__action">
                <span class="govuk-body govuk-!-font-weight-bold claim-row">Sort by</span> {% if sortBy == 'oldest'%}<a class="govuk-link" href="expenses-assessment?sortBy=newest">Date (newest)<span class="govuk-visually-hidden"> sort by newest date</span></a>{% else %}<a class="govuk-link" href="expenses-assessment?sortBy=oldest">Date (oldest)<span class="govuk-visually-hidden"> sort by oldest date</span></a>{% endif %}
              </li>
            </ul>        
          </div>
          
    <!-- ACTUAL CLAIMS LIST CONTAINER -->
    <div class="govuk-summary-card__content">
      <dl class="govuk-summary-list">
            <table class="govuk-table govuk-!-margin-bottom-9 claim-table">
              <caption class="govuk-table__caption govuk-table__caption--m">10 May 2024 </caption>
              <tbody class="govuk-table__body">
                  <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">Hotel accomodation</th>
                    <td class="govuk-table__cell">Cost: £200.00</td>
                    <td class="govuk-table__cell">VAT: £40.00</td>
                    <td class="govuk-table__cell"><a href="adjust-a-row-item?claimDate=16 April 2024&claimDesc=Travel to court&claimCost=£200.00&claimVat=£40.00">Not assessed</a></td>
                  </tr>
                  {% include "../_includes/expense-adjustment-row.njk" %}
                  <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">Cab fares</th>
                    <td class="govuk-table__cell">Cost: £18.00</td>
                    <td class="govuk-table__cell">VAT: £3.60</td>
                    <td class="govuk-table__cell"><a href="adjust-a-row-item?claimDate=16 April 2024&claimDesc=Lunch&claimCost=£18.00&claimVat=£3.60">Not assessed</a></td>
                  </tr>
                  {% include "../_includes/expense-adjustment-row.njk" %}
                  <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">Subsistence</th>
                    <td class="govuk-table__cell">Cost: £10.00</td>
                    <td class="govuk-table__cell">VAT: £2.00</td>
                    <td class="govuk-table__cell"><a href="adjust-a-row-item?claimDate=16 April 2024&claimDesc=Lunch&claimCost=£10.00&claimVat=£2.00">Not assessed</a></td>
                  </tr>
                  {% include "../_includes/expense-adjustment-row.njk" %}
                  <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">Travel time</th>
                    <td class="govuk-table__cell">Cost: £150.00</td>
                    <td class="govuk-table__cell">VAT: £30.00</td>
                    <td class="govuk-table__cell"><a href="adjust-a-row-item?claimDate=16 April 2024&claimDesc=Lunch&claimCost=£150.00&claimVat=£30.00">Not assessed</a></td>
                  </tr>
                  {% include "../_includes/expense-adjustment-row.njk" %}
              </tbody>
            </table>
            <table class="govuk-table govuk-!-margin-bottom-9 claim-table">
              <caption class="govuk-table__caption govuk-table__caption--m">14 May 2024 </caption>
              <tbody class="govuk-table__body">
                  <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">Subsistence</th>
                    <td class="govuk-table__cell">Cost: £10.00</td>
                    <td class="govuk-table__cell">VAT: £2.00</td>
                    <td class="govuk-table__cell"><a href="adjust-a-row-item?claimDate=14 April 2024&claimDesc=Lunch&claimCost=£10.00&claimVat=£2.00">Not assessed</a></td>
                  </tr>
                  {% include "../_includes/expense-adjustment-row.njk" %}
              </tbody>
            </table>




        </div>
      </div>
    </div>              
    {% endif %}
    {% endfor %}

  </div>
</div>

<script>
  function toggleAllElements() {
      const elements = document.querySelectorAll('#hidden-row');
      elements.forEach(element => {
          if (element.classList.contains('hidden')) {
              element.classList.remove('hidden');
          } else {
              element.classList.add('hidden');
          }
      });
  }
</script>

{% endblock %}

