
    <div style="float: right;">
      {{ mojButtonMenu({
        items: [{
          text: "Approve claim",
          href: "#"
        }, {
          text: "Part-approve claim",
          href: "#",
          classes: "govuk-button--secondary"
        },
        {
          text: "Send back to provider",
          href: "#",
          classes: "govuk-button--secondary"
        },
        {
          text: "Reject claim",
          href: "#",
          classes: "govuk-button--secondary"
        }]
      }) }}
    </div>
