<form class="form" action="#" method="post">
    <!-- FILTERS --> 
    {% set dateLabelFrom %}
    <p>From:</p>
    {% endset %}
    {% set dateLabelTo %}
    <p>To:</p>
    {% endset %}

    {% set filtersHtml %}
    <h2 class="govuk-heading-s">
        Date received
      </h2>

      <div class="inline-inputs">
          {{ govukDateInput({
            id: "date-from",
            namePrefix: "date-from",
            formGroup: {
                beforeInputs: {
                    html: dateLabelFrom
                },
                afterInputs: {
                    html: dateLabelTo
                    }
                }
          }) }}
          {{ govukDateInput({
            id: "date-to",
            namePrefix: "date-to",
            fieldset: {
              legend: {
                text: "Date to",
                isPageHeading: true,
                classes: "govuk-fieldset__legend--xs"
              }
            }
          }) }}
      </div>
      
      <h2 class="govuk-heading-s">
        Total
      </h2>
      <div class="inline-inputs">
          {{ govukDateInput({
            id: "total-min",
            namePrefix: "total-min",
            fieldset: {
              legend: {
                text: "Minimum total",
                isPageHeading: true,
                classes: "govuk-fieldset__legend--xs"
              }
            }
          }) }}
          {{ govukDateInput({
            id: "total-max",
            namePrefix: "total-max",
            fieldset: {
              legend: {
                text: "Minimum total",
                isPageHeading: true,
                classes: "govuk-fieldset__legend--xs"
              }
            }
          }) }}
        </div>
      <div class="govuk-form-group">
        <label class="govuk-label govuk-!-font-weight-bold" for="Status">
          Status
        </label>
        <select class="govuk-select" id="status" name="status">
        {% for status in data['statuses'] %}
        <option value="{{ status.value }}">{{ status.text }}</option>
        {% endfor %}
        </select>
      </div>
      <div class="govuk-form-group">
        <label class="govuk-label govuk-!-font-weight-bold" for="sort">
          Caseworker
        </label>
        <select class="govuk-select" id="caseworker" name="caseworker">
            {% for caseworker in data['caseworkers'] %}
            <option value="{{ caseworker.value }}">{{ caseworker.text }}</option>
            {% endfor %}
            </select>
        </select>
      </div>
      {{ govukInput({
        label: {
          text: "Firm",
          classes: "govuk-label--s",
          isPageHeading: false
        },
        classes: "govuk-input--width-20",
        id: "firm-name",
        name: "firmName"
      }) }}
      {{ govukInput({
        label: {
          text: "Client",
          classes: "govuk-label--s",
          isPageHeading: false
        },
        classes: "govuk-input--width-20",
        id: "client-name",
        name: "clientName"
      }) }}

      </form>

      {{ govukButton({
        text: "Apply filters"
      }) }}

      {% endset %}
      {{ govukDetails({
        summaryText: "Filter",
        html: filtersHtml
      }) }}
