<!-- set tab labels if value -->
{# <p>related count: {{ item.linkedApplications.length }}</p> #}
{% if item.linkedApplications.length > 0 %}
{% set relateTabText = ['Related claims', ' (', item.linkedApplications.length, ')' ] | join %}
{% else %}
{% set relateTabText = 'Related claims' %}
{% endif %}

{{ mojSubNavigation({
    label: 'Sub navigation',
    items: [{
      text: 'Claim summary',
      href: 'claim-summary',      
      active: + activeSubNav[0] | default('true')
    }, {
      text: 'Apply adjustments',
      href: 'claim-apply-adjustments',
      active: + activeSubNav[1]
    }, {
      text: relateTabText,
      href: 'claim-related-claims',
      active: + activeSubNav[2]
    }, {
      text: 'Claims history',
      href: 'claim-claims-history',
      active: + activeSubNav[3]
    }, {
      text: 'Messages',
      href: 'claim-messages',
      active: + activeSubNav[4]
    }]
  }) }}