<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

            {% set loggedInUser = data['logged-in-user'] | default(data.loggedInUser) %}            
            {% if loggedInUser == 'Crime caseworker' %}
            <!-- CRIME MASTHEAD -->
            <span class="govuk-caption-l">Case reference: {{ item.claimRef }}</span>
            <!--<div style="float: right;">
                {{ mojButtonMenu({
                  items: [{
                    text: "Apply assessment",
                    href: "#"
                  }, {
                    text: "Reject claim",
                    href: "#",
                    classes: "govuk-button--secondary"
                  }, {
                    text: "Do something else",
                    href: "#",
                    classes: "govuk-button--secondary"
                  }]
                }) }}
              </div>-->
            <h1 class="govuk-heading-xl govuk-!-margin-bottom-4">{{ item.legalAidBillingType }}</h1>
            <!-- <p class="govuk-body govuk-!-margin-bottom-1"><strong>Date received:</strong> {{ item.dateReceived | govukDate }}</p> -->
            <p class="govuk-body"><strong>Status: </strong>{% include "/_includes/status-checker.njk" %}</p>
            {# no of claims: {{ claimList.length }}
            no of tags: {{ claimList[0].claimTags.length }} #}
            <p class="govuk-body govuk-!-margin-bottom-5">
            {% for item in item.claimTags %}
            {% include "/_includes/tag-checker.njk" %}
            {% endfor %}
            </p>
            {% else %}       
            <!-- CIVIL MASTHEAD -->
            <!-- <span class="govuk-caption-l">Case reference: {{ item.claimRef }}</span> -->
            <h1 class="govuk-heading-xl govuk-!-margin-bottom-0">{{ item.legalAidBillingType }}</h1>
            <!-- <p class="govuk-body govuk-!-margin-bottom-1"><strong>Date received:</strong> {{ item.dateReceived | govukDate }}</p> -->
            <h2 class="govuk-heading-m govuk-!-margin-bottom-4">{{ item.billingProcessType }}</h2>
            <p class="govuk-body"><strong>Status: </strong>{% include "/_includes/status-checker.njk" %}</p>
            {# no of claims: {{ claimList.length }}
            no of tags: {{ claimList[0].claimTags.length }} #}
            <p class="govuk-body govuk-!-margin-bottom-5">
            {% for item in item.claimTags %}
            {% include "/_includes/tag-checker.njk" %}
            {% endfor %}
            </p>
            {% endif %}

    </div>
</div>


