<!-- Check status and display colour coded tag based on status -->
{% if item.tagType == 'Previous payments'%}
    <strong class="govuk-tag govuk-tag--turquoise">
        Previous payments
    </strong>
{% elseif item.tagType == 'Redetermination/Appeal'%}
    <strong class="govuk-tag govuk-tag--purple">
        Redetermination / Appeal
    </strong>
{% elseif item.tagType == 'Counsel payment'%}
    <strong class="govuk-tag govuk-tag--pink">
        Counsel payment
    </strong>
{% elseif item.tagType == 'Certificate discharged'%}
    <strong class="govuk-tag govuk-tag--yellow">
        Certificate discharged
    </strong>
{% endif %}

