<!-- Check status and display colour coded tag based on status -->
{% if item.tagType == 'Previous payments'%}
    <span class="moj-badge moj-badge--purple">Previous payments</span>
{% elseif item.tagType == 'Redetermination/Appeal'%}
    <span class="moj-badge moj-badge--green">Redetermination / Appeal</span>
{% elseif item.tagType == 'Counsel payment'%}
    <span class="moj-badge moj-badge--blue">Counsel payment</span>    
{% elseif item.tagType == 'Certificate discharged'%}
    <span class="moj-badge moj-badge--black">Certificate discharged</span>
{% endif %}

