{% extends "layouts/main.html" %}

{% block pageTitle %}
  Page name – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
    {% include "/_includes/claim-masthead.njk" %}

    {{ mojSubNavigation({
      label: 'Sub navigation',
      items: [{
        text: 'Claim summary',
        href: '#1',
        active: true
      }, {
        text: 'Apply adjustments',
        href: '#2'
      }, {
        text: 'Related claims',
        href: '#3'
      }, {
        text: 'Claims history',
        href: '#4'
      }, {
        text: 'Messages',
        href: '#5'
      }]
    }) }}

  </div>
</div>


{% endblock %}












