{% extends "layouts/main.html" %}

{% block pageTitle %}
  Messages – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{% include "/_includes/phase-banner.html"%}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

<!-- tabs: claim summary, apply adjustments, related claims, claims history, messages -->
{% set activeSubNav = [false, false, false, false, true] %}

<!-- call JSON file -->
{% set claimList = data.sampleDataCrime %}
{% set loggedInUser = data['logged-in-user'] | default(data.loggedInUser) %}  

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    {% if loggedInUser == 'Crime caseworker'%}
      <!-- set caseRef var or default if page visited directly -->
      {% set claimRef = data['claim-ref'] | default(data.defaultCrimeCaseNo) %}
      <!-- call JSON files -->
      {% set claimList = data.sampleDataCrime %}  
      <!-- FIND RECORD AND WRITE CARDS FOR CRIME USER -->
      {% set foundClaim = false %}
      {% for item in claimList %}
        {% if item.claimRef == claimRef %}
        {% set foundClaim = true %}
            {% include "/_includes/claim-masthead.njk" %}
            {% include "/_includes/claim-sub-navigation.njk" %}
            <h2 class="govuk-heading-m">Messages</h2>
            <!-- SPECIFIC CRIME BODY CONTENT GOES HERE -->

            <div id="messages" class="moj-messages-container">
              <div class="moj-message-list">      
                <time class="moj-message-list__date" datetime="16 March 2019">16 March 2019</time>      
                <div class="moj-message-item moj-message-item--sent">
                  <div class="moj-message-item__text moj-message-item__text--sent">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</div>
                  <div class="moj-message-item__meta">
                    <span class="moj-message-item__meta--sender">Person A</span> at <time class="moj-message-item__meta--timestamp" datetime="10:50am">10:50am</time>
                  </div>
                </div>
            
                <time class="moj-message-list__date" datetime="17 March 2019">17 March 2019</time>      
                <div class="moj-message-item moj-message-item--received">
                  <div class="moj-message-item__text moj-message-item__text--received">Nullam vestibulum lorem vulputate velit euismod luctus.</div>
                  <div class="moj-message-item__meta">
                    <span class="moj-message-item__meta--sender">Person B</span> at <time class="moj-message-item__meta--timestamp" datetime="10:51am">10:51am</time>
                  </div>
                </div>
            
                <time class="moj-message-list__date" datetime="19 March 2019">19 March 2019</time>      
                <div class="moj-message-item moj-message-item--sent">
                  <div class="moj-message-item__text moj-message-item__text--sent">Fusce et vulputate justo. Integer suscipit felis non urna lobortis, vel finibus sem tristique.</div>
                  <div class="moj-message-item__meta">
                    <span class="moj-message-item__meta--sender">Person A</span> at <time class="moj-message-item__meta--timestamp" datetime="10:53am">10:53am</time>
                  </div>
                </div>
                <div class="moj-message-item moj-message-item--sent">
                  <div class="moj-message-item__text moj-message-item__text--sent">Mauris tincidunt feugiat orci et convallis. Nam efficitur gravida justo non lobortis. Aliquam velit ante, lobortis eu venenatis sit amet, semper sit amet justo.</div>
                  <div class="moj-message-item__meta">
                    <span class="moj-message-item__meta--sender">Person A</span> at <time class="moj-message-item__meta--timestamp" datetime="10:55am">10:55am</time>
                  </div>
                </div>
            
                <time class="moj-message-list__date" datetime="21 March 2019">21 March 2019</time>      
                <div class="moj-message-item moj-message-item--received">
                  <div class="moj-message-item__text moj-message-item__text--received">Proin dapibus, nisl id ultricies ultricies, erat magna pulvinar risus, sit amet commodo nunc purus eu nulla. Aliquam erat volutpat. Vestibulum in ante interdum, elementum arcu vel, viverra nibh. Etiam ultrices urna at suscipit sollicitudin. Nulla non lectus magna. Curabitur vel vestibulum lorem. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</div>
                  <div class="moj-message-item__meta">
                    <span class="moj-message-item__meta--sender">Person B</span> at <time class="moj-message-item__meta--timestamp" datetime="11:56am">11:56am</time>
                  </div>
                </div>
              </div>      
            </div>
        {% endif %}
      {% endfor %}
    {% else %}
        <!-- set caseRef var or default if page visited directly -->
        {% set claimRef = data['claim-ref'] | default(data.defaultCivilCaseNo) %}
      <!-- call JSON files -->
      {% set claimListCivil = data.sampleDataCivil %}
      <!-- FIND RECORD AND WRITE CARDS FOR CIVIL USER -->
      {% set foundClaim = false %}
      {% for item in claimListCivil %}
        {% if item.claimRef == claimRef %}
        {% set foundClaim = true %}
            {% include "/_includes/claim-masthead.njk" %}
            {% include "/_includes/claim-sub-navigation.njk" %}
            <h2 class="govuk-heading-m">Messages</h2>
            <!-- SPECIFIC CIVIL BODY CONTENT GOES HERE -->
        {% endif %}
      {% endfor %}
  {% endif %}

  </div>
</div>








      



{% endblock %}