{% extends "layouts/main.html" %}

{% block pageTitle %}
  Page name – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{% include "/_includes/phase-banner.html"%}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

<!-- tabs: claim summary, apply adjustments, related claims, claims history, messages -->
{% set activeSubNav = [false, true, false, false, false] %}

<!-- call JSON file -->
{% set claimList = data.sampleCaseListData %}

{% set claimRef = data['claim-ref'] | default('abcdefg1') %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
                <!-- FIND RECORD AND WRITE CARDS -->
    {% set foundClaim = false %}
    {% for item in claimList %}
      {% if item.claimRef == claimRef %}
      {% set foundClaim = true %}
    {% include "/_includes/claim-masthead.njk" %}
    {% endif %}
    {% endfor %}

    {% include "/_includes/claim-sub-navigation.njk" %}
    <h2 class="govuk-heading-m">Apply adjustments</h2>

  </div>
</div>


{% endblock %}