{% extends "layouts/main.html" %}

{% block pageTitle %}
  Claim summary – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{% include "/_includes/phase-banner.html"%}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

<!-- tabs: claim summary, apply adjustments, related claims, claims history, messages -->
{% set activeSubNav = [true, false, false, false, false] %}
{% set loggedInUser = data['logged-in-user'] | default(data.loggedInUser) %}  

{% block content %}
<!-- <p>Claim ref for debug: [{{ claimRef }}]</p>
<p>Logged in user: [{{ loggedInUser }}]</p> -->
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      {% if loggedInUser == 'Crime caseworker'%}
          <!-- set caseRef var or default if page visited directly -->
          {% set claimRef = data['claim-ref'] | default('abcdefg1') %}
          <!-- call JSON files -->
          {% set claimList = data.sampleDataCrime %}  
          <!-- FIND RECORD AND WRITE CARDS FOR CRIME USER -->
          {% set foundClaim = false %}
          {% for item in claimList %}
            {% if item.claimRef == claimRef %}
            {% set foundClaim = true %}
                {% include "/_includes/claim-masthead.njk" %}
                {% include "/_includes/claim-sub-navigation.njk" %}
                <h2 class="govuk-heading-m">Claim summary</h2>
                <!-- Shared cards -->
                {% include "/_includes/claim-summary-cards/both/provider-details.njk" %}
                {% include "/_includes/claim-summary-cards/both/client-details.njk" %}
                  <!-- Crime cards -->  
                  {% include "/_includes/claim-summary-cards/crime/rep-order-details.njk" %}
                  {% include "/_includes/claim-summary-cards/crime/case-details.njk" %}
                  <h2 class="govuk-heading-m">Claim details</h2>
                  {% include "/_includes/claim-summary-cards/crime/claim-details.njk" %}
            {% endif %}
          {% endfor %}
      {% else %}
          <!-- set caseRef var or default if page visited directly -->
          {% set claimRef = data['claim-ref'] | default('tuvwxyz1') %}
          <!-- call JSON files -->
          {% set claimListCivil = data.sampleDataCivil %}
          <!-- FIND RECORD AND WRITE CARDS FOR CIVIL USER -->
          {% set foundClaim = false %}
          {% for item in claimListCivil %}
            {% if item.claimRef == claimRef %}
            {% set foundClaim = true %}
                {% include "/_includes/claim-masthead.njk" %}
                {% include "/_includes/claim-sub-navigation.njk" %}
                <h2 class="govuk-heading-m">Claim summary</h2>
                <!-- Shared cards -->
                {% include "/_includes/claim-summary-cards/both/provider-details.njk" %}
                {% include "/_includes/claim-summary-cards/both/client-details.njk" %}
                  <!-- Civil cards -->  
                  {% include "/_includes/claim-summary-cards/civil/proceeding-type-details.njk" %}
                  {% include "/_includes/claim-summary-cards/civil/certificate-details.njk" %}
                  <h2 class="govuk-heading-m">Claim details</h2>
                  {% include "/_includes/claim-summary-cards/crime/claim-details.njk" %}
            {% endif %}
          {% endfor %}
      {% endif %}   

  </div>
</div>

{% endblock %}












