{% extends "layouts/main.html" %}
{% set containerClasses = "moj-special-width-container" %}

{% block pageTitle %}
  Assessment – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
<nav class="clear-right moj-width-container">
	<a href="javascript:window.history.back()" class="govuk-back-link">Back</a>
</nav>
{% endblock %} 

<!-- tabs: claim summary, assessment, related claims, claims history, messages -->
{% set activeSubNav = [false, true, false, false, false] %}
{% set loggedInUser = data['logged-in-user'] | default(data.loggedInUser) %}  
{% set whatGroupBy = data['whatGroupBy'] | default('claimType') %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
    {% if loggedInUser == 'Crime caseworker'%}
        <!-- set caseRef var or default if page visited directly -->
        {% set claimRef = data['claim-ref'] | default(data.defaultCrimeCaseNo) %}
        <!-- call JSON files -->
        {% set claimList = data.sampleDataCrime %}  
        <!-- FIND RECORD AND WRITE CARDS FOR CRIME USER -->
        {% set foundClaim = false %}
        {% for item in claimList %}
          {% if item.claimRef == claimRef %}
          {% set foundClaim = true %}
          {% include "current/_includes/claim-masthead.njk" %}
              <div class="moj-width-container govuk-!-margin-top-5"> 
                <div style="float: right;">
                  {{ mojButtonMenu({
                    items: [{
                      text: "Approve claim",
                      href: "#"
                    }, {
                      text: "Part-approve claim",
                      href: "#",
                      classes: "govuk-button--secondary"
                    },
                    {
                      text: "Send back to provider",
                      href: "#",
                      classes: "govuk-button--secondary"
                    },
                    {
                      text: "Reject claim",
                      href: "#",
                      classes: "govuk-button--secondary"
                    }]
                  }) }}
                </div>
                {% include "current/_includes/claim-sub-navigation.njk" %}
                <h2 class="govuk-heading-m">Assessment</h2>
                <!-- SPECIFIC CRIME BODY CONTENT GOES HERE -->
                <div class="govuk-grid-row">
                  <div class="govuk-grid-column-two-thirds">
                  </div>
                </div>
              </div>
           {% endif %}
        {% endfor %}
    {% else %}
    
      <!-- set caseRef var or default if page visited directly -->
      {% set claimRef = data['claim-ref'] | default(data.defaultCivilCaseNo) %}
      <!-- call JSON files -->
      {% set claimListCivil = data.sampleDataCivil %}
      <!-- FIND RECORD AND WRITE CARDS FOR CIVIL USER -->
      {% set foundClaim = false %}
      {% for item in claimListCivil %}
        {% if item.claimRef == claimRef %}
        {% set foundClaim = true %}
            {% include "current/_includes/claim-masthead.njk" %}
            <div class="moj-width-container govuk-!-margin-top-5">          
              <div style="float: right;">
                {{ mojButtonMenu({
                  items: [{
                    text: "Approve claim",
                    href: "#"
                  }, {
                    text: "Part-approve claim",
                    href: "#",
                    classes: "govuk-button--secondary"
                  },
                  {
                    text: "Send back to provider",
                    href: "#",
                    classes: "govuk-button--secondary"
                  },
                  {
                    text: "Reject claim",
                    href: "#",
                    classes: "govuk-button--secondary"
                  }]
                }) }}
              </div>
              {% include "current/_includes/claim-sub-navigation.njk" %}
              <h2 class="govuk-heading-m">Assessment</h2>
                  <!-- SPECIFIC CIVIL BODY CONTENT GOES HERE -->
                  <div class="govuk-grid-row">
                    <div class="govuk-grid-column-full">
                      <!-- SET CLAIM REF FOR TESTING -->
                      {# {% set claimRef = data['claim-ref'] | default(data.defaultCrimeCaseNo) %}#}

                      {% set claimRecord = data.sampleClaimsCivil %}  
                      <!-- FIND RECORD AND WRITE CARDS FOR CRIME USER -->
                      {% set foundClaim = false %}
                  
                      {% for item in claimRecord %}
                          {% if item.claimRef == claimRef %}
                            {% set foundClaim = true %}
                            <!-- CLAIM SUMMARY -->
                            {% include "current/_includes/claim-assessment-cards/civil/claim-costs-summary.njk" %}
                            <!-- CLAIM GRADUATED FEES -->
                            {% include "current/_includes/claim-assessment-cards/civil/graduated-fees.njk" %}
                            {% include "current/_includes/claim-assessment-cards/civil/fixed-fees.njk" %}
                            {% include "current/_includes/claim-assessment-cards/civil/hourly-rates.njk" %}
                            <div class="claims-list-filters-container">
                              <div>
                              <!-- MANIPULATING RESULTS SECTION -->
                  
                              <form action="/v2civilgroupby" method="post">
                              {#}  
                                {{ govukCheckboxes({
                                  name: "types-of-claims-filter",
                                  classes: "govuk-checkboxes--small moj-inline-checkbox",
                                  fieldset: {
                                    legend: {                  
                                      isPageHeading: false,
                                      classes: "govuk-fieldset__legend--s govuk-!-margin"
                                    }
                                
                                  },
                                  items: [
                                    {
                                      value: "Approved",
                                      text: "approved"
                                    },
                                    {
                                      value: "part-approved",
                                      text: "Part approved"
                                    },
                                    {
                                      value: "rejected",
                                      text: "Rejected"
                                    },
                                    {
                                      value: "not assessed",
                                      text: "Not assessed"
                                    }
                                  ]
                                }) }}
                                #}
                              </div>
                              <div>
                              {{ govukSelect({
                                id: "whatGroupBy",
                                name: "whatGroupBy",            
                                label: {
                                  text: "Group by"
                                },
                                items: [
                                  {
                                    value: "claimDate",
                                    text: "Date",
                                    selected: true if whatGroupBy == 'claimDate' else false
                                  },
                                  {
                                    value: "claimType",
                                    text: "Type",
                                    selected: true if whatGroupBy == 'claimType' else false
                                  }
                                ],
                                formGroup: {
                                  classes: "govuk-!-margin-bottom-0"
                                }
                              }) }}
                              </div>
                              <div>
                                
                                {{ govukButton({
                                  text: "Apply",
                                  classes: "govuk-!-margin-bottom-0"
                                }) }}
                                </form>
                              </div>
                  
                            </div>
                            <!-- CLAIM ROWS ALL OTHER -->
                            {% if data['whatGroupBy'] == 'claimDate' %}
                              {% include "current/_includes/claim-rows/v2-grouped-by-date.njk" %}
                            {% else %}
                              {% include "current/_includes/claim-rows/v2-grouped-by-type.njk" %}
                            {% endif%}
                          {% endif %}
                      {% endfor %}
                    </div>
                  </div>
            </div>




            
        {% endif %}
      {% endfor %}
    {% endif %}



  </div>
</div>

<script>
  function toggleAllElements() {
      const elements = document.querySelectorAll('#hidden-row');
      elements.forEach(element => {
          if (element.classList.contains('hidden')) {
              element.classList.remove('hidden');
          } else {
              element.classList.add('hidden');
          }
      });
  }
</script>

<script type="module">
  new MOJFrontend.ButtonMenu({
container: document.querySelector(".moj-button-menu"),
mq: "(min-width: 200em)",
buttonText: "Actions",
menuClasses: "moj-button-menu__wrapper--right",
});

</script>

{% endblock %}