{% extends "layouts/main.html" %}

{% block pageTitle %}
  Search – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

<!-- tabs: my claims, all claims, search -->
{% set activeTab = [false, false, true] %}

<!-- call JSON file -->
{% set claimList = data.sampleCaseListData %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full govuk-!-padding-bottom-0">
      <div class="search govuk-!-padding-bottom-0">
        <form action="/searchforclaim" method="post">
          <h1 class="govuk-heading-l">Search</h1>
          <!-- Search box -->
          {{ govukInput({
            label: {
              text: "Search for a claim",
              classes: "govuk-label--s"
            },
            classes: "govuk-input--width-30",
            id: "claim-search",
            name: "claim-search",
            hint: {
              text: "Enter reference number, client name or Firm / Chambers name"
            }
          }) }}

          <!-- set HTML for advanced search options -->
          {%set searchHtml %}

          <!-- DATE RECEIVED FIELDSET -->
          {% call govukFieldset({
            classes: "inline-inputs",
            legend: {
              text: "Received date",
              classes: "govuk-fieldset__legend--m",
              isPageHeading: true
            }
          }) %}

          {{ govukDateInput({
            id: "date-from",
            namePrefix: "date-from",
            fieldset: {
              legend: {
                text: "Date from",
                isPageHeading: false,
                classes: "govuk-fieldset__legend--s"
              }
            }
          }) }}  

          {{ govukDateInput({
            id: "date-to",
            namePrefix: "date-to",
            fieldset: {
              legend: {
                text: "Date to",
                isPageHeading: false,
                classes: "govuk-fieldset__legend--s"
              }
            }
          }) }}  
          {% endcall %}

          <!-- set HTML for saved searches -->
          {% set savedSearchesHtml %}
            <a href="claim-search?claim-search=law" class="govuk-link saved-searches">Clients with law in title</a><a href="claim-search?claim-search=type a">Type A claims</a>

          {% endset %}

          <div class="govuk-form-group">
            <label class="govuk-label govuk-!-font-weight-bold" for="sort">
              Caseworker
            </label>
            <select class="govuk-select" id="caseworker" name="caseworker">
                {% for caseworker in data['caseworkers'] %}
                <option value="{{ caseworker.value }}">{{ caseworker.text }}</option>
                {% endfor %}
                </select>
            </select>
          </div>

          {% endset %}

          {{ govukDetails({
            summaryText: "Advanced search",
            html: searchHtml
          }) }}

          {{ govukButton({
            text: "Search",
            classes: "govuk-!-margin-bottom-0"
          }) }}
          {{ govukButton({
            text: "Save search",
            classes: "govuk-button--secondary saved-searches__button",
            href: "#"
          }) }}
  
          <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
          {{ govukDetails({
            summaryText: "Your saved searches",
            html: savedSearchesHtml,
            classes: "govuk-!-padding-bottom-4"
          }) }}

        </form>
      </div>
      {% include "/_includes/search-results-table.njk"%} 
    </div>
</div>

{% endblock %}