{% extends "layouts/main.html" %}
{% set containerClasses = "moj-special-width-container" %}

{% block pageTitle %}
  Claims history – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
<nav class="clear-right moj-width-container">
	<a href="javascript:window.history.back()" class="govuk-back-link">Back</a>
</nav>
{% endblock %} 

<!-- tabs: claim summary, assessment, related claims, claims history, messages -->
{% set activeSubNav = [false, false, false, true, false] %}

{<!-- call JSON file -->
{% set claimList = data.sampleDataCrime %}
{% set loggedInUser = data['logged-in-user'] | default(data.loggedInUser) %}  

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    {% if loggedInUser == 'Crime caseworker'%}
      <!-- set caseRef var or default if page visited directly -->
      {% set claimRef = data['claim-ref'] | default(data.defaultCrimeCaseNo) %}
      <!-- call JSON files -->
      {% set claimList = data.sampleDataCrime %}  
      <!-- FIND RECORD AND WRITE CARDS FOR CRIME USER -->
      {% set foundClaim = false %}
      {% for item in claimList %}
        {% if item.claimRef == claimRef %}
        {% set foundClaim = true %}
            {% include "current/_includes/claim-masthead.njk" %}
            <div class="moj-width-container govuk-!-margin-top-5">
              {% include "/_includes/action-menu-button.njk" %}
              {% include "current/_includes/claim-sub-navigation.njk" %}
              <h2 class="govuk-heading-m">Claims history</h2>
              <!-- SPECIFIC CRIME BODY CONTENT GOES HERE -->
              {% include "current/_includes/case-lists/crime/history-table-crime.njk" %}
            </div>
        {% endif %}
      {% endfor %}
    {% else %}
      <!-- set caseRef var or default if page visited directly -->
      {% set claimRef = data['claim-ref'] | default(data.defaultCivilCaseNo) %}
      <!-- call JSON files -->
      {% set claimListCivil = data.sampleDataCivil %}
      <!-- FIND RECORD AND WRITE CARDS FOR CIVIL USER -->
      {% set foundClaim = false %}
      {% for item in claimListCivil %}
        {% if item.claimRef == claimRef %}
        {% set foundClaim = true %}
            {% include "current/_includes/claim-masthead.njk" %}
            <div class="moj-width-container govuk-!-margin-top-5">
              {% include "/_includes/action-menu-button.njk" %}
              {% include "current/_includes/claim-sub-navigation.njk" %}
              <h2 class="govuk-heading-m">Claims history</h2>
              <!-- SPECIFIC CIVIL BODY CONTENT GOES HERE -->
              {% include "current/_includes/case-lists/civil/history-table-civil.njk" %}
            </div>
        {% endif %}
      {% endfor %}
  {% endif %}

  </div>
</div>

<script type="module">
  new MOJFrontend.ButtonMenu({
container: document.querySelector(".moj-button-menu"),
mq: "(min-width: 200em)",
buttonText: "Actions",
menuClasses: "moj-button-menu__wrapper--right",
});

</script>

{% endblock %}