{% extends "layouts/main.html" %}

{% block pageTitle %}
  My claims – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

<!-- tabs: my claims, all claims, search -->
{% set activeTab = [true, false, false] %}

{% set loggedInUser = data['logged-in-user'] | default(data.loggedInUser) %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-l">My Claims</h1>
    <!-- DASHBOARD -->
    <div class="quick-dashboard-card__container">
        <div class="quick-dashboard-card">
          <h2 class="govuk-heading-m">Total</h2>
          <p class="govuk-body quick-dashboard-card__link govuk-!-font-weight-bold"><a href="#" class="'govuk-link">{% if data['action'] %}11{% else %}10{% endif %}</a></p>
        </div>
        <div class="quick-dashboard-card">
          <h2 class="govuk-heading-m">Not started</h2>
          <p class="govuk-body quick-dashboard-card__link govuk-!-font-weight-bold govuk-!-margin-bottom-0"><a href="#" class="'govuk-link">{% if data['action'] %}7{% else %}6{% endif %}</a></p>
        </div>
        <div class="quick-dashboard-card">
          <h2 class="govuk-heading-m">Provider updated</h2>
          <p class="govuk-body quick-dashboard-card__link govuk-!-font-weight-bold"><a href="#" class="'govuk-link">2</a></p>
        </div>
        <div class="quick-dashboard-card">
          <h2 class="govuk-heading-m">Sent back</h2>
          <p class="govuk-body quick-dashboard-card__link govuk-!-font-weight-bold"><a href="#" class="'govuk-link">2</a></p>
        </div>
    </div>

    {{ govukButton({
      text: "Assign new claim",
      href: "my-claims-with-dashboard?action=addtolist"
    }) }}


    <!-- INCLUDE FILTERS -->
    {% set filterHtml %}
    {% include "/_includes/caselist-filters-top.njk"%}  
    {% endset %}
    {{ govukDetails({
      summaryText: "Filter claims",
      html: filterHtml
    }) }}

        <!-- TABLE IS HERE -->
        {% if loggedInUser == 'Crime caseworker'%}
          <!-- call JSON files -->
          {% set claimList = data.sampleDataCrime %}  
          <!-- FIND RECORD AND WRITE CARDS FOR CRIME USER -->
          {% include "/_includes/case-lists/crime/my-claims-table-crime-new.njk"%}
        {% else %}
          <!-- call JSON files -->
          {% set claimList = data.sampleDataCivil %}  
          <!-- FIND RECORD AND WRITE CARDS FOR CRIME USER -->
          {% include "/_includes/case-lists/civil/my-claims-table-civil.njk"%}
        {% endif %}
    </div>
</div>
  

{% endblock %}