{% extends "layouts/main.html" %}

{% block pageTitle %}
  My claims – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

<!-- tabs: my claims, all claims, search -->
{% set activeTab = [true, false, false] %}

{% set loggedInUser = data['logged-in-user'] | default(data.loggedInUser) %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-l">My Claims</h1>
    <!-- INCLUDE FILTERS -->
    {% set filterHtml %}
    {% include "/_includes/caselist-filters-top.njk"%}  
    {% endset %}
    {{ govukDetails({
      summaryText: "Filter claims",
      html: filterHtml
    }) }}

        <!-- TABLE IS HERE -->
        {% if loggedInUser == 'Crime caseworker'%}
          <!-- call JSON files -->
          {% set claimList = data.sampleDataCrime %}  
          <!-- FIND RECORD AND WRITE CARDS FOR CRIME USER -->
          {% include "/_includes/case-lists/crime/my-claims-table-crime.njk"%}
        {% else %}
          <!-- call JSON files -->
          {% set claimList = data.sampleDataCivil %}  
          <!-- FIND RECORD AND WRITE CARDS FOR CRIME USER -->
          {% include "/_includes/case-lists/crime/my-claims-table-crime.njk"%}
        {% endif %}
    </div>
</div>
  

{% endblock %}