{% extends "layouts/main.html" %}

{% block pageTitle %}
  My claims – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

<!-- tabs: my claims, all claims, search -->
{% set activeTab = [true, false, false] %}

<!-- call JSON file -->
{% set claimList = data.sampleCaseListData %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-l">My Claims</h1>
    <!-- INCLUDE FILTERS -->
    {% set filterHtml %}
    {% include "/_includes/caselist-filters-top.njk"%}  
    {% endset %}
    {{ govukDetails({
      summaryText: "Filter claims",
      html: filterHtml
    }) }}

        <!-- TABLE IS HERE -->
        {% include "/_includes/my-claims-table.njk"%} 
    </div>
</div>
  

{% endblock %}