{% extends "layouts/main.html" %}

{% block pageTitle %}
  Graduated fees assessment – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

<!-- tabs: claim details, supporting evidence, adjustment history, notes and messages -->
{% set activeSubNav = [true, false, false, false] %}
{% set sendingPage = 'graduated' %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

        <!-- SET CLAIM REF FOR TESTING -->
    {# {% set claimRef = data['claim-ref'] | default(data.defaultCrimeCaseNo) %}#}
    {% set claimRef = '1000004CR' %}
    {% set claimRecord = data.sampleClaimsCrime %}  

    <span class="govuk-caption-l">Claim reference {{ claimRef }}</span>
    <h1 class="govuk-heading-l">Graduated fees</h1>
    <!-- FIND RECORD AND WRITE CARDS FOR CRIME USER -->
    {% set foundClaim = false %}

    {% for item in claimRecord %}
        {% if item.claimRef == claimRef %}
          {% set foundClaim = true %}
          <p class="govuk-body govuk-!-font-size-24">£6,360.03</p>

            {% set graduatedSummaryHtml %}
              <table class="govuk-table claim-table" style="width:80%">
                <thead class="govuk-table__head">
                  <tr class="govuk-table__row">
                    <th scope="col" class="govuk-table__header">Description</th>
                    <th scope="col" class="govuk-table__header govuk-table__header--numeric">Cost</th>
                    <th scope="col" class="govuk-table__header govuk-table__header--numeric">Total</th>
                  </tr>
                </thead>
                  <tbody class="govuk-table__body">
                  {% for item in item.graduatedFees %}
                    <tr class="govuk-table__row">
                      <th scope="row" class="govuk-table__header">Provider requested</th>
                      <td class="govuk-table__cell govuk-table__cell--numeric">{{ item.graduatedFeeNet | currency }}</td>
                      <td class="govuk-table__cell govuk-table__cell--numeric">{{ item.graduatedFeeTotal | currency }}</td>
                    </tr>
                  {% endfor %}
                  <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">Caseworker allowed</th>
                    <td class="govuk-table__cell govuk-table__cell--numeric">£6,360.03</td>
                    <td class="govuk-table__cell govuk-table__cell--numeric">£7,632.04</td>
                  </tr>
                  </tbody>
                </table>
            {% endset %}

            {{ govukDetails({
              summaryText: "Cost summary",
              open: true,
              html: graduatedSummaryHtml
            }) }}

        {% endif %}
    {% endfor %}
  </div>
</div>
{% include "current/_includes/core-journey/v2-claim-adjustment-sub-navigation" %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    {{ govukFieldset({
      legend: {
        text: "Make adjustments",
        classes: "govuk-fieldset__legend--l govuk-!-padding-top-9 govuk-!-padding-bottom-4",
        isPageHeading: false
      }
    }) }}



    {{ govukSelect({
      id: "caseoutcome",
      name: "caseoutcome",
      label: {
        text: "Case outcome/type",
        classes: "govuk-label--m",
        isPageHeading: false
      },
      items: [
        {
          value: "select",
          text: "Select"
        },
        {
          value: "opt1",
          text: "Appeal against conviction"
        },
        {
          value: "opt2",
          text: "Appeal against sentence",
          selected: true
        }
      ]
    }) }}

    {{ govukInput({
      label: {
        text: "PPE number",
        classes: "govuk-label--m ",
        isPageHeading: false
      },
      id: "conferencesheld",
      name: "conferencesheld",
      classes: "govuk-input--width-4",
      value: "500",
      hint: {
        text: "Number of pages"
      }
    }) }}

    {{ govukInput({
      label: {
        text: "Trail length",
        classes: "govuk-label--m ",
        isPageHeading: false
      },
      id: "numberofhearings",
      name: "numberofhearings",
      classes: "govuk-input--width-4",
      value: "5",
      hint: {
        text: "Number of days"
      }
    }) }}
    
    {{ govukSelect({
      id: "offencecategory",
      name: "offencecategory",
      label: {
        text: "Offence category",
        classes: "govuk-label--m",
        isPageHeading: false
      },
      items: [
        {
          value: "select",
          text: "Select"
        },
        {
          value: "opt1",
          text: "Type 1"
        },
        {
          value: "opt2",
          text: "Armed robbery",
          selected: true
        }
      ]
    }) }}

    {{ govukSelect({
      id: "offenceclass",
      name: "offenceclass",
      label: {
        text: "Offence class",
        classes: "govuk-label--m",
        isPageHeading: false
      },
      items: [
        {
          value: "select",
          text: "Select"
        },
        {
          value: "opt1",
          text: "B: Offences involving serious violence or damage and serious drug offences",
          selected: true
        },
        {
          value: "opt2",
          text: "Type 2"
        }
      ]
    }) }}

    {{ govukButton({
      text: "Apply adjustments"
  }) }}
  <a href="#" class="govuk-link form-cancel">Cancel and return</a>

  </div>
</div>

{% endblock %}
