{% extends "layouts/main.html" %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">AI components</h1>
    <h2 class="govuk-heading-m">Ticket panel</h2>
    {{ appAiTicketPanel({
      title: 'H2 title',
      body: 'Very strange!" muttered Holmes, pulling at the rope. "There are one or two very singular points about this room. For example, what a fool a builder must be to open a ventilator into another room, when, with the same trouble, he might have communicated with the outside air!',
      href: '#',
      linktext: 'link goes here' 
      })
    }}

    <!-- Example with HTML for body -->
    {% set panelHtml%}
    AI checked. <a class="govuk-link" href="#">Review this row</a>
    {% endset %}

    <h2 class="govuk-heading-m govuk-!-margin-top-6">Ticket panel no title, link in body</h2>
    {{ appAiTicketPanel({
      body: panelHtml | safe
      })
    }}
   
  </div>
</div>

{% endblock %}