<div class="govuk-summary-card">
    <div class="govuk-summary-card__title-wrapper">
      <h2 class="govuk-summary-card__title">
        Hourly rate items
      </h2>
      <ul class="govuk-summary-card__actions">
        <li class="govuk-summary-card__action">
            {{ govukButton({
                text: "Make assessment",
                classes: "govuk-!-margin-bottom-0"
              }) }}
        </li>
      </ul>       
    </div>

    <div class="govuk-summary-card__content">
      <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
              <table class="govuk-table claim-table">
                  <tbody class="govuk-table__body">
                  {% for item in item.hourlyRates %}
                    <tr class="govuk-table__row">
                      <th scope="row" class="govuk-table__header">{{ item.claimDate | govukDate }}</th>
                      <td class="govuk-table__cell govuk-table__cell--numeric">{{ item.details }}<br>{{ item.time_claimed }} (hh:mm)</td>
                      <td class="govuk-table__cell govuk-table__cell--numeric">Cost: {{ item.itemNet | currency }}</td>
                      <td class="govuk-table__cell govuk-table__cell--numeric">Vat: {{ item.itemVat | currency }}</td>
                      <td class="govuk-table__cell govuk-table__cell--numeric">Total: {{ item.itemTotal | currency }}</td>
                      <td class="govuk-table__cell">Not assessed</td>
                      <!--<td class="govuk-table__cell"><a href="#">Make assessment</a></td>-->
                    </tr>
                  {% endfor %}
                  </tbody>
                </table>
          </div> 
      </dl>
  </div>
</div>    