<!-- TO DISPLAY EVIDENCE ITEMS ON EVIDENCE TAB IN ASSESSMENT -->
<table class="govuk-table">
    <caption class="govuk-table__caption govuk-table__caption--m">Supporting evidence</caption>
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header">Filename</th>
        <th scope="col" class="govuk-table__header">Date received</th>
      </tr>
    </thead>
    <tbody class="govuk-table__body">
      <tr class="govuk-table__row">
        <td class="govuk-table__cell"><a href="#">Sample evidence item 1</a></th>
        <td class="govuk-table__cell">30 April 2024</td>
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell"><a href="#">Sample evidence item 2</a></th>
        <td class="govuk-table__cell">30 April 2024</td>
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell"><a href="#">Sample evidence item 3</a></th>
        <td class="govuk-table__cell">30 April 2024</td>
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell"><a href="#">Sample evidence item 4</a></th>
        <td class="govuk-table__cell">30 April 2024</td>
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell"><a href="#">Sample evidence item 5</a></th>
        <td class="govuk-table__cell">30 April 2024</td>
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell"><a href="#">Sample evidence item 6</a></th>
        <td class="govuk-table__cell">30 April 2024</td>
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell"><a href="#">Sample evidence item 7</a></th>
        <td class="govuk-table__cell">2 May 2024</td>
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell"><a href="#">Sample evidence item 8</a></th>
        <td class="govuk-table__cell">2 May 2024</td>
      </tr>
    </tbody>
  </table>