<div class="govuk-summary-card">
    <div class="govuk-summary-card__title-wrapper">
      <h2 class="govuk-summary-card__title">
        Graduated fees
      </h2>
      
    </div>
    <div class="govuk-summary-card__content">
      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Proceedings type
          </dt>
          <dd class="govuk-summary-list__value">
            Negligence
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> proceedings type (Fixed / Graduated fees)</span></a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Provider location
          </dt>
          <dd class="govuk-summary-list__value">
            North
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> provider location (Fixed / Graduated fees)</span></a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Party represented
          </dt>
          <dd class="govuk-summary-list__value">
            Children
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> party represented (Fixed / Graduated fees)</span></a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Who heard the case (level of judge) and court type
            </dt>
            <dd class="govuk-summary-list__value">
              High court
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> who heard the case (Fixed / Graduated fees)</span></a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Type/level of work undertaken
            </dt>
            <dd class="govuk-summary-list__value">
              Private law children
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> type/level of work undertaken (Fixed / Graduated fees)</span></a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Certificate
            </dt>
            <dd class="govuk-summary-list__value">
                <a class="govuk-link" href="#">certificate.pdf</a>
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> type/level of work undertaken (Fixed / Graduated fees)</span></a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Latest adjustment note 
            </dt>
            <dd class="govuk-summary-list__value">
                There was a change to the court type made at the last minute. This resulted in a different representation and higher costs.
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> type/level of work undertaken (Fixed / Graduated fees)</span></a>
            </dd>
          </div>          
      </dl>
    </div>

    <div class="govuk-summary-card__content">
        <h3 class="govuk-heading-m">Fixed fee items</h3>
        <dl class="govuk-summary-list">
          <table class="govuk-table claim-table" data-module="moj-sortable-table">
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header claim-table__item">Litigator fee</th>
                <td class="govuk-table__cell claim-table__cost">£6250</td>
                <td class="govuk-table__cell claim-table__vat">£1250</td>
                <td class="govuk-table__cell claim-table__actions"><a href="#">Not assessed</a></td>
              </tr>
            </tbody>
          </table>
        </dl>
      </div>
  </div>