{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block beforeContent %}
  {% include "/_includes/phase-banner.html"%}  
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      {{ serviceName }}
    </h1>
  </div>
</div>


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-m">Current work</h2>
    <h3 class="govuk-heading-s">Core screens</h3>
    <ul class="govuk-list">
      <li>
        <a class="govuk-link" href="current/my-claims-basic">My claims</a>
      </li>
      <li>
        <a class="govuk-link" href="current/all-claims-basic">All claims</a>
      </li>
      <li>
        <a class="govuk-link" href="current/claim-search">Search</a>
      </li>
      <li>
        <a class="govuk-link" href="current/claim-summary">View of a claim</a>
        <li>
          <a class="govuk-link" href="current/claim-related-claims">Related claims</a>
        </li>
      </li>
      <li>
        <a class="govuk-link" href="current/claim-messages">Messages</a>
      </li>

    </ul>
    <h3 class="govuk-heading-s">Additional concepts</h3>
    <ul class="govuk-list">
      <li>
        <a class="govuk-link" href="current/all-claims-with-side-filters">All claims with side filters</a>
      </li>
      <li>
        <a class="govuk-link" href="current/all-claims-with-top-filters">All claims with top filters and column selector</a>
      </li>
      <li>
        <a class="govuk-link" href="current/my-claims-with-dashboard">My claims with dashboard</a>
      </li>
    </ul>
  </div>


</div>

{% endblock %}
