{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block beforeContent %}
  {% include "/_includes/phase-banner.njk"%}  
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      {{ serviceName }}
    </h1>
  </div>
</div>


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h2 class="govuk-heading-l">Current work (v3)<span class="heading-w-status"><strong class="govuk-tag govuk-tag--blue">TBC</strong></span></h2>
    <p class="govuk-body govuk-!-font-size-24 govuk-!-font-weight-bold">Dates to be confirmed</p>
    

    <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
      <h2 class="govuk-heading-l">Previous versions</h2>

      {% set v2TitleHtml %}
        <h2 class="govuk-!-font-size-24 govuk-link">v2<span class="heading-w-status"><strong class="govuk-tag govuk-tag--green">COMPLETED</strong></span></h2>
        {% endset %}

        {% set v2Html %}
          {% include "/v2/v2-file-list.njk" %}
        {% endset %}

        {{ govukDetails({
          summaryText: v2TitleHtml | safe,
          html: v2Html,
          classes: "govuk-heading-s"
        }) }}

        {% set v1TitleHtml %}
        <h2 class="govuk-!-font-size-24 govuk-link">v1<span class="heading-w-status"><strong class="govuk-tag govuk-tag--green">COMPLETED</strong></span></h2>
        {% endset %}

        {% set v1Html %}
          {% include "/v1/v1-file-list.njk" %}
        {% endset %}

        {{ govukDetails({
          summaryText: v1TitleHtml | safe,
          html: v1Html,
          classes: "govuk-heading-s"
        }) }}

  </div>


  <div class="govuk-grid-column-one-third">
    <aside class="govuk-prototype-kit-common-templates-related-items" role="complementary">
      <h2 class="govuk-heading-m" id="subsection-title">
        Related links
      </h2>
      <nav role="navigation" aria-labelledby="subsection-title">
        <ul class="govuk-list govuk-!-font-size-16">
          <li>
            <a href="https://miro.com/app/board/uXjVNsSnF-o=/?share_link_id=200658712449" target="_blank">
              Prototype miro board (opens in new window)
            </a>
          </li>
          <li>
            <a href="https://docs.google.com/spreadsheets/d/1dODsPWmJXcwjUHmnUjPKMZJOagjAfuBCll58fW7ZkDY/edit?usp=drive_link" target="_blank">
              Billing types Google doc (opens in new window)
            </a>
          </li>  
        </ul>
        <h3 class="govuk-heading-s" id="subsection-title">
          Templates and components
        </h3>
        <ul class="govuk-list govuk-!-font-size-16">
          <li>
            <a class="govuk-link" href="/templates">Templates</a>
          </li>
          <li>
            <a class="govuk-link" href="variables">Variables and references</a>
          </li>
          <li>
            <a class="govuk-link" href="/playground/playground-list">Playground (local only)</a>
          </li>
        </ul>        
      </nav>
    </aside>
  </div>


</div>

{% endblock %}
