{#
For guidance on how to use layouts see:
https://prototype-kit.service.gov.uk/docs/how-to-use-layouts
#}

{% extends "govuk-prototype-kit/layouts/govuk-branded.njk" %}



{% block beforeContent %}
  {% include "/_includes/phase-banner.html"%}

  {% set activeTab = data['activeTab'] %}

  {{ mojPrimaryNavigation({
    label: 'Primary navigation',
    items: [
      {
        text: 'My Claims',
        href: 'my-claims',      
        active: + activeTab[0] | default('true')
      },
      {
        text: 'All Claims',
        href: 'all-claims',
        active: + activeTab[1]
      },
      {
        text: 'Search',
        href: 'claim-search',
        active: + activeTab[2]
      }
    ]
  }) }}

  

  {% endblock %}